@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Çoklu Dil Desteği</h1>

<div class="card-content collapse show">
    <div class="card-body">
        <p class="card-text">@localizer["Merhaba"]</p>
    </div>
</div>

